{% load static %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MystDoku{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header class="topbar">
    <div class="logo">MystDoku</div>
    <nav>
        <ul>
            <li><a href="/">Domů</a></li>

            {% if user.is_authenticated %}
                {% if user.is_authenticated and existing_game %}
                    <a href="{% url 'game_view' game_id=existing_game.id %}">Pokračovat v hře</a>
                {% endif %}
                <li><a href="{% url 'game_selection' %}">Herní výběr</a></li>
                <li><a href="#">Score</a></li>
                <li><a href="#">Story</a></li>
                <li>
                    <form method="post" action="{% url 'logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" style="background:none;border:none;color:inherit;cursor:pointer;padding:0;">
                            Odhlásit
                        </button>
                    </form>
                </li>
                <li class="user">👤 {{ user.username }}</li>
            {% else %}
                <li><a href="{% url 'login' %}">Přihlášení</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>