{% extends "base.html" %}

{% block title %}MystDoku – Hlavní herní stránka{% endblock %}

{% block content %}
<div class="game-selection">
    <h1>Vítej v MystDoku!</h1>

    {% if existing_game %}
        <p>🎮 Máš rozehranou hru:</p>
        <a href="{% url 'game_view' game_id=existing_game.id %}" class="play-button">Pokračovat v hře</a>
    {% else %}
        <p>🆕 Nemáš žádnou rozehranou hru.</p>
    {% endif %}

    <hr style="margin: 2em 0; width: 60%; border-color: #666;">

    <p>🔁 Začni novou hru:</p>
    <div class="difficulty-buttons">
        <a href="{% url 'start_new_game' %}?difficulty=easy" class="play-button">Easy</a>
        {% if unlocked_easy|length == 20 %}
            <a href="{% url 'start_new_game' %}?difficulty=medium" class="play-button">Medium</a>
        {% endif %}
        {% if unlocked_easy|length == 20 and unlocked_medium|length == 20 %}
            <a href="{% url 'start_new_game' %}?difficulty=hard" class="play-button">Hard</a>
        {% endif %}
    </div>

    <div style="margin-top: 3em;">
        <a href="{% url 'reset_progress' %}" class="danger-button" onclick="return confirm('Opravdu chceš resetovat veškerý příběhový postup? Tato akce je nevratná.')">🔁 Resetovat příběhový postup</a>
    </div>
</div>

{% include "partials/sequence.html" %}
{% if play_intro %}
  <script>
    window.onload = function() {
      playSequence("intro");
    };
  </script>
{% endif %}
{% endblock %}