{% extends "base.html" %}
{% block content %}

<div class="manual-container">
    <h2>🕹️ Návod: Jak hrát MystDoku ( TO DO)</h2>

    <div class="manual-video">
<iframe width="560" height="315"
        src="https://www.youtube.com/embed/tgbNymZ7vqY"
        title="Jak hrát MystDoku"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
</iframe>
    </div>

    <p class="manual-description">
        V této hře řešíš sudoku-like hádanky pomocí předmětů ve 3x3 místnostech.
        Každá místnost má 9 unikátních předmětů. Tvým cílem je je rozmístit tak,
        aby se žádný neopakoval ve sloupci, řádku ani místnosti.
        Kliknutím na dveře se přesouváš mezi místnostmi.
    </p>
</div>

{% endblock %}